#top-msg {
  margin-top: 100px;
}

#top-msg > h2 {
  font-family: "League Spartan";
}

#top-msg > hr {
  width: 60px;
  border: 1px solid #FC627A;
}

#top-msg > p {
  margin-top: 50px;
  color: #333333;
}

#top-msg > .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#top-msg > .items > .item {
  width: 100%;
  max-width: 290px;
  margin: 0 auto;
  margin-top: 50px;
}

#top-msg > .items > .item > img {
  display: block;
  width: 100%;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 20px;
}

#top-msg > .items > .item > h5 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 20px;
}

#top-msg > .items > .item > p {
  text-align: left;
  color: #333333;
}


/* Become welgee family */

#become-family {
  margin-top: 100px;
  width: 100vw;
  background-color: #EAEAEA;
  padding: 80px 0;
}

#become-family > .container > p {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 40px;
  color: #333333;
}

#become-family > .container > .items {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#become-family > .container > .items > .item {
  width: 290px;
  margin-top: 50px;
  margin: 0 auto;
}

#become-family > .container > .items > .item > img {
  display: block;
  width: 280px;
  height: 280px;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 20px;
}

#become-family > .container > .items > .item > h5 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 20px;
  color: #333333;
}

#become-family > .container > .items > .item > p {
  text-align: left;
  color: #333333;
}


/* Long term donation */

#long-term-donation {
  padding-bottom: 100px;
}

#long-term-donation > p {
  color: #707070;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 50px;
}

#long-term-donation > p > strong {
  font-weight: bold;
}


.donate-button {
  display: block;
  margin: 20px auto;
  text-align: center;
  color: #707070;
  border: solid 1px #1C7CD5;
  width: 400px;
  height: 76px;
  font-size: 30px;
  font-weight: bold;
  line-height: 76px;
  border-radius: 38px;
}

@media screen and (max-width: 490px) {
  .donate-button {
    width: 250px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    border-radius: 25px;
  }
}


/* family voice */

#family-voice {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: solid 1px #707070;
}

#family-voice > .container > .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#family-voice > .container > .items > .item {
  max-width: 400px;
  margin-top: 50px;
}

#family-voice > .container > .items > .item > img {
  display: block;
  width: 280px;
  height: 280px;
  border-radius: 140px;
  margin: 0 auto;
  margin-top: 20px;
}

#family-voice > .container > .items > .item > h5 {
  margin-top: 30px;
  font-weight: normal;
  color: #333333;
}

#family-voice > .container > .items > .item > p {
  margin-top: 30px;
}


/* One time donation */

#one-time-donation {
  padding-top: 50px;
  border-top: solid 1px #707070;
}

#one-time-donation h2 {
  font-weight: bold;
}

#one-time-donation .methods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#one-time-donation .method {
  width: 400px;
  margin-top: 50px;
}


#one-time-donation .method p {
  color: #707070;
  font-size: 16px;
  text-align: left;
}

#one-time-donation .method .bank-acount {
  color: black;
  text-align: left;
}
