#top-msg {
  margin-top: 100px;
}

#top-msg > h2 {
  font-family: "League Spartan";
}

#top-msg > h5 {
  font-size: 16px;
}

#top-msg > hr {
  width: 60px;
  border: 1px solid #FC627A;
}

#top-msg > p {
  margin-top: 50px;
  line-height: 2;
}

#top-msg > .img {
  width: 100vw;
  height: 500px;
  background-image: url("${IMG_URL}/join-us/recruit/top.jpg");
  background-position: top;
  background-size: cover;
  margin-top: 50px;
}


#merit {
  margin-top: 100px;
  padding-bottom: 100px;
}

#merit > .items {
  width: 90%;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

#merit > .items > .item {
  width: 100%;
  max-width: 290px;
  margin: 0 auto;
  margin-top: 50px;
}

#merit > .items > .item > img {
  width: 100%;
}

#merit > .items > .item > h5 {
  font-weight: normal;
  margin-top: 20px;
}

#merit > .items > .item > p {
  text-align: left;
  margin-top: 20px;
}


#voice {
  width: 100vw;
  background-color: #EAEAEA;
  padding-top: 50px;
  padding-bottom: 100px;
}

#voice > h3 {
}

#voice > .items {
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

#voice > .items > .item {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

#voice > .items > .item > img {
  display: block;
  width: 250px;
  border-radius: 125px;
  margin: 0 auto;
}

#voice > .items > .item > h3 {
  font-weight: normal;
  margin-top: 20px;
}

#voice > .items > .item > p {
  margin-top: 20px;
}


#statistics {
  padding-top: 50px;
  padding-bottom: 100px;
}

#statistics > .items {
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

#statistics > .items > .item {
  width: 280px;
  margin: 0 auto;
  margin-top: 50px;
}

#statistics > .items > .item > img {
  width: 100%;
  margin-top: 20px;
}

#statistics > .items > .item > p {
  margin-top: 20px;
}

#jobs {
  padding-top: 100px;
}
