<footer>
  <div class="company">
    <img src="${IMG_URL}/logo2.png">
    <p>
      NPO法人 WELgee(ウェルジー)<br>
      <br>
      〒101-0065 東京都渋谷区恵比寿4丁目20-3 恵比寿ガーデンプレイスタワー27階 <a>[map]</a><br>
      <br>
      Tel 080-3574-1991<br>
      Mail info@welgee.jp
    </p>
    <div class="sns">
      <a><i class="fab fa-twitter" style="color: #5CBBFF"></i></a>
      <a><i class="fab fa-facebook-f" style="color: #2B72A5"></i></a>
    </div>
  </div>
  <div class="contact">
    <a class="button">お問い合わせ</a>
    <a class="item">企業の方へ</a>
    <a class="item">メディアの方へ</a>
    <a class="item">学校関係の方へ</a>
    <a class="item">プライバシーポリシー</a>
  </div>
  <div class="copyright">
    Copyright © 特定非営利活動法人WELgee All rights reserved.
  </div>
</footer>
