<header>

  <div class="pc">
    <div id="header-main">
      <a href="/" id="header-logo"><img src="${IMG_URL}/logo.png"></a>
      <div id="nav-bar">
        <a class="nav-item">WELgeeとは</a>
        <a class="nav-item">事業内容</a>
        <a class="nav-item" href="/participation.html">参加しませんか？</a>
        <a class="nav-item">English</a>
        <a class="nav-item">Dear Refugee</a>
        <div class="nav-item">
          <a><i class="fab fa-twitter" style="color: #5CBBFF"></i></a>
          <a><i class="fab fa-facebook-f" style="color: #2B72A5"></i></a>
        </div>
      </div>
    </div>
    <div id="header-desc">
      NPO法人WELgee（ウェルジー）は日本に逃れてきた難民が未来のスーパーヒーローになれるようサポートする団体です
    </div>
  </div>

  <div class="mobile">
    <div class="bar">
      <a href="/" class="logo"><img src="${IMG_URL}/logo.png"></a>
      <i class="fas fa-bars menu-btn"></i>
    </div>
    <div id="mobile-menu">
      <i class="fas fa-times close-btn"></i>
      <div class="logo"><a href="/"><img src="${IMG_URL}/logo2.png"></a></div>
      <div class="menu">
        <div class="item"><div class="block yellow"></div><a href="/">WELgeeとは</a></div>
        <div class="item"><div class="block green"></div><a href="/">事業内容</a></div>
        <div class="item"><div class="block blue"></div><a href="/participation.html">参加してみませんか？</a></div>
        <div class="item"><div class="block red"></div><a href="/">English</a></div>
        <div class="item"><div class="block yellow"></div><a href="/">Dear Refugee</a></div>
        <div class="item"><div class="block green"></div><a href="/">プライバシーポリシー</a></div>
      </div>
      <a class="button">お問い合わせ</a>
    </div>
  </div>

</header>
