<header>

  <div class="contents pc">
    <a href="/" class="logo"><img src="${IMG_URL}/logo3.png"></a>
    <div class="nav-items">
      <a class="nav-item" href="/about/">WELgeeとは</a>
      <a class="nav-item" href="/#programs">事業内容</a>
      <a class="nav-item" href="/join-us/">参加しませんか？</a>
      <a class="nav-item" href="/about/english">English</a>
      <div class="nav-item sns">
        <a href="https://twitter.com/WELgee_Japan">
          <i class="fab fa-twitter" style="color:#5CBBFF"></i>
        </a>
        <a href="https://www.facebook.com/welgee/">
          <i class="fab fa-facebook-f" style="color:#2B72A5"></i>
        </a>
        <a href="https://www.instagram.com/welgee_japan/">
          <i class="fab fa-instagram" style="color:#d62976"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="bar mobile">
    <a href="/" class="logo"><img src="${IMG_URL}/logo3.png"></a>
    <i class="fas fa-bars menu-btn"></i>
  </div>

  <div class="contents mobile">
    <div class="close-btn"></div>
    <a href="/" class="logo"><img src="${IMG_URL}/logo3.png"></a>
    <div class="menu">
      <div class="item yellow">
        <a href="/about/">WELgeeとは</a>
      </div>
      <div class="item green">
        <a href="/#programs">事業内容</a>
      </div>
      <div class="item blue">
        <a href="/join-us/">参加してみませんか？</a>
      </div>
      <div class="item red">
        <a href="http://welgee.sakura.ne.jp/csy76677/Introduction%20of%20WELgee%20in%20English.pdf">English</a>
      </div>
    </div>
    <a class="button">お問い合わせ</a>
  </div>

</header>
