#messages {
  margin-top: 100px;
}

#messages > hr {
  width: 60px;
  border: 1px solid #FC627A;
}

#messages .items {
  margin-top: 100px;
}

#messages .item {
  width: 100%;
  max-width: 760px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
  margin: 0 auto;
}

#messages .item img {
  display: block;
  margin: 0 auto;
  margin-top: 150px;
  width: 100%;
  max-width: 260px;
  border-radius: 130px;
}

#messages .item .text {
  width: 100%;
  max-width: 460px;
  margin-top: 100px;
}

#messages .item h3 {
  text-align: left;
  font-weight: normal;
  margin-bottom: 15px;
}

#messages .item h5 {
  text-align: left;
  font-weight: normal;
}

#messages .item p {
  text-align: left;
}
