section {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}

#header {
  margin-top: 100px;
}


#header > .category {
  display: inline-block;
  width: 75px;
  height: 25px;
  background-color: #5CBBFF;
  color: white;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
}

#header > .date {
  display: inline-block;
  width: 80px;
  font-size: 16px;
  margin-left: 15px;
}

#header > h3 {
  text-align: left;
  margin-top: 15px;
}

#header > img {
  margin-top: 50px;
  width: 100%;
}


#contents > p {
  margin-top: 50px;
  text-align: left;
}

#contents > p > a {
  color: #FAD48D;
}

#contents > p img {
  display: inline-block;
  width: 100%;
  margin: 20px 0;
}

#contents > table {
  table-layout: fixed;
  width: 100%;
  margin: 50px auto;
}

#contents > table td:first-child {
  width: 30%;
}

#contents > table td {
  padding: 20px 10px;
  vertical-align: top;
}
