/* Common */

@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: bold;
  src: url('/font/LeagueSpartan-Bold.otf') format("opentype");
}

@font-face {
  font-family: "NotoSansCJKjp";
  font-style: normal;
  font-weight: bold;
  src: url('/font/NotoSansCJKjp-Bold.woff') format("woff");
}

@font-face {
  font-family: "NotoSansCJKjp";
  font-style: normal;
  font-weight: normal;
  src: url('/font/NotoSansCJKjp-Regular.woff') format("woff");
}

* {
  box-sizing: border-box;
}

body {
  color: #333333;
  margin: 0;
  font-family: 'NotoSansCJKjp', sans-serif;
}

a {
  text-decoration: underline;
}
a:link {
  color: #333333;
}
a:visited {
  color: #333333;
}

p {
  text-align: center;
  line-height: 2;
}

strong {
  font-weight: bold;
}

hr {
  width: 60px;
  border: 1px solid #FC627A;
}

.container {
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

h1, h2, h3, h5 {
  text-align: center;
  width: 100%;
  margin: 0;
  font-weight: bold;
}


/* Breadcrumbs */
#breadcrumbs {
  margin-top: 20px;
  padding-left: 100px;
  color: #6A6A6A;
  font-size: 14px;
}

#breadcrumbs > a {
  margin: 0 5px;
  text-decoration: none;
}

#breadcrumbs > a:link {
  color: #6A6A6A;
}

#breadcrumbs > a:visited {
  color: #6A6A6A;
}

@media screen and (max-width: 480px) {
  #breadcrumbs {
    display: none;
  }
}

a.button {
  width: 240px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 20px;
  background-color: #D7F87E;
  color: #333333;
  text-align: center;
  font-family: "League Spartan";
  font-weight: bold;
  line-height: 40px;
  font-size: 16px;
  text-decoration: none;
  border: none;
  padding: 0;
}

@media screen and (min-width: 480px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  h5 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 17px;
  }

  h5 {
    font-size: 15px;
  }

  p {
    font-size: 13px;
  }
}
