/* Top image */

#top-image {
  width: 100%;
  position: relative;
  background-image: url("${IMG_URL}/top/top.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 480px) {
  #top-image {
    height: 400px;
  }
}

@media screen and (min-width: 480px) {
  #top-image {
    height: 700px;
  }
}

#top-image h2 {
  color: white;
  position: absolute;
  bottom: 50px;
}


/* News */

#news {
  width: 100%;
  background-color: white;
  margin-top: 100px;
}

#news h2, #news h5 {
  color: #333333;
}

#news .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#news .item {
  width: 250px;
  margin: 0 auto;
  margin-top: 30px;
}

#news .item .category {
  width: 70px;
  height: 25px;
  background-color: #5CBBFF;
  color: white;
  border-radius: 4px;
  text-align: center;
  font-size: 13px;
  line-height: 25px;
}

#news .item img {
  margin-top: 12px;
  width: 250px;
  height: 150px;
}

#news .item .date {
  margin-top: 5px;
  font-size: 14px;
}

#news .item .title {
  margin-top: 8px;
  font-size: 16px;
}

#news .button {
  background-color: #FAD48D;
}


/* What's WELgee */

#what-welgee {
  width: 100%;
  margin-top: 100px;
}

#what-welgee p {
  font-size: 20px;
}

#what-welgee p strong {
  font-size: 40px;
  font-weight: normal;
}

#what-welgee p strong .yellow {
  color: #FFDE71;
}

#what-welgee .button {
  background-color: #FAD48D;
}


/* Our Passion */

#passion {
  background-color: gray;
  background-size: 100%;
  background-position: center;
  margin-top: 50px;
}

#passion .filter {
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  padding-top: 70px;
  padding-bottom: 70px;
}

#passion .title-main {
  display: block;
  width: 100%;
  padding-top: 10px;
  background-color: rgba(255,222,113, 0.4);
}

#passion .title-sub {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: rgba(255,222,113, 0.4);
}

#passion .button {
  background-color: #FAD48D;
}


/* Message from Director */

#director-msg {
  margin-top: 100px;
}

#director-msg .contents {
  letter-spacing: -.4em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#director-msg .contents img {
  display: inline-block;
  width: 80%;
  max-width: 430px;
  height: 300px;
  border-radius: 10px;
  margin: 0 auto;
}

#director-msg .contents .text {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  max-width: 500px;
  letter-spacing: normal;
  margin: 0 auto;
}

#director-msg .contents .text .job {
  margin-bottom: 0;
  text-align: left;
}


#director-msg .contents .text .name {
  margin-top: 0;
  text-align: left;
}

#director-msg .contents .text .message {
  margin-top: 30px;
  text-align: left;
  font-size: 16px;
}

#director-msg .button {
  background-color: #FAD48D;
}


/* Our Programs */

#programs {
  width: 100%;
  margin-top: 100px;
}

#programs .group .header {
  position: relative;
  height: 120px;
  margin-top: 50px;
  margin-bottom: 20px;
}

#programs .group .header .circle {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: #FAD48D;
  bottom: 0px;
  left: 0px;
  color: white;
  text-align: center;
  line-height: 80px;
  font-size: 40px;
}

#programs .group .header h3 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

#programs .group .header h3 span {
  font-size: 20px;
  font-weight: normal;
  margin-left: 30px;
}

#programs .item-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#programs .item {
  margin: 0 auto;
}

#programs .item.min {
  width: 280px;
}

#programs .item.large {
  width: 440px;
}

#programs .item img {
  width: 100%;
  border-radius: 4px;
}

#programs .item h5 {
  margin-top: 20px;
}

#programs .item p {
  margin-top: 10px;
  font-size: 16px;
}

#programs .button {
  background-color: #FAD48D;
}


/* Participate */

#participate {
  margin-top: 100px;
  width: 100%;
}

#participate .title-main {
  font-size: 26px;
}

#participate .items {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#participate .item {
  width: 260px;
  margin: 0 auto;
  margin-top: 80px;
}

#participate .item h3 {
  margin-top: 40px;
}

#participate .item img {
  width: 200px;
  height: 200px;
  margin-left: 30px;
}

#participate .item p {
  margin-top: 25px;
  font-size: 16px;
}

#participate .item .link-button {
  margin-top: 30px;
  background-color: #D7F87E;
}

/* Join */

#join {
  width: 100%;
  margin-top: 100px;
  background-image: url("${IMG_URL}/top/join-bg.jpg");
  background-size: 100%;
  background-position: center;
}

#join .filter {
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
}

#join .title-main {
  width: 100%;
  display: block;
  padding-top: 10px;
  background-color: rgba(255, 222, 113, 0.4);
}

#join .title-sub {
  width: 100%;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 222, 113, 0.4);
}

#join .items {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#join .items .item {
  width: 90%;
  max-width: 440px;
  margin: 0 auto;
}

#join .item img {
  width: 100%;
  border-radius: 4px;
}

#join .item h5 {
  margin-top: 20px;
}

#join .item p {
  font-size: 16px;
}

#join .item .link-button {
  background-color: #D7F87E;
}


/* Events */

#events {
  margin-top: 100px;
}

#events .items {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#events .item {
  width: 90%;
  max-width: 260px;
  margin: 0 auto;
  margin-top: 30px;
}

#events .item img {
  width: 100%;
  border-radius: 4px;
}

#events .item .date {
  margin: 0;
  text-align: left;
}

#events .item .title {
  margin-top: 10px;
  text-align: left;
}

#events .button {
  background-color: #FAD48D;
}


/* Partners */

#partners {
  margin-top: 100px;
}

#partners .items {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#partners .item {
  width: 160px;
}

#partners .item img {
  width: 100%;
}
