/* Top image */

#top-image {
  width: 100vw;
  height: 650px;
  background-image: url("${IMG_URL}/top.jpg");
  background-size: cover;
  background-position: center;
}

/* Campaign */

#campaign {
  margin-top: 100px;
}

#campaign > a > img {
  display: block;
  width: 80%;
  max-width: 980px;
  margin: 0 auto;
}


/* News */

#news {
  margin-top: 100px;
}

#news > h5 {
  font-family: "League Spartan";
}

#news > .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  max-width: 950px;
  margin: 0 auto;
}

#news > .items > .item {
  width: 250px;
  margin: 0 auto;
  margin-top: 30px;
}

#news > .items > .item > .category {
  width: 70px;
  height: 25px;
  background-color: #5CBBFF;
  color: white;
  border-radius: 4px;
  text-align: center;
  font-size: 13px;
  line-height: 25px;
}

#news > .items > .item > a > img {
  margin-top: 12px;
  width: 250px;
  height: 150px;
}

#news > .items > .item > .date {
  margin-top: 5px;
  font-size: 14px;
}

#news > .items > .item > .title {
  margin-top: 8px;
  font-size: 16px;
}

#news > a.button {
  background-color: #FFDE59;
  color: white;
  margin-top: 50px;
}


/* What's WELgee */

#what-welgee {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 50px;
  border-top: 1px solid #333333;
  padding-top: 50px;
}

#what-welgee > h2.title {
  font-family: "League Spartan";
}

#what-welgee > h5 {
  margin-top: 10px;
  font-family: "League Spartan";
}

#what-welgee > h2.welgee {
  margin-top: 40px;
  font-family: "League Spartan";
}

#what-welgee > h2.welgee > .yellow {
  color: #F7BD00;
}

#what-welgee > p {
  margin-top: 30px;
  font-size: 1.25rem;
}

#what-welgee > a.button {
  margin-top: 60px;
  background-color: #FFDE59;
  color: white;
}


/* Our Passion */

#passion {
  background-image: url("${IMG_URL}/passion-bg.jpg");
  background-color: gray;
  background-size: cover;
  background-position: center;
  margin-top: 100px;
}

#passion > .filter {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  padding-top: 70px;
  padding-bottom: 50px;
}

#passion > .filter > h5 {
  font-family: "League Spartan";
}

#passion > .filter > p {
  margin-top: 50px;
}

#passion > .filter > a.button {
  margin-top: 20px;
  background-color: #FFDE59;
}


/* Message from Director */

#director-msg {
  padding-top: 100px;
}

#director-msg > h5 {
  margin-top: 20px;
  font-family: "League Spartan";
}

#director-msg > .contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  width: 80%;
  max-width: 910px;
  margin: 0 auto;
}

#director-msg > .contents > img {
  width: 100%;
  max-width: 380px;
  margin-top: 50px;
  border-radius: 4px;
  box-shadow: -10px 10px 0 0 #5CBBFF;
}

#director-msg > .contents > .text {
  width: 100%;
  max-width: 470px;
  margin-top: 50px;
}

#director-msg > .contents > .text > .job {
  text-align: left;
}

#director-msg > .contents > .text > .name {
  text-align: left;
}

#director-msg > .contents > .text > .message {
  margin-top: 20px;
  font-size: 16px;
  text-align: left;
}

#director-msg > a.button {
  margin-top: 80px;
  background-color: #FFDE59;
  color: white;
}


/* Our Programs */

#programs {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 120px;
}

#programs > h5 {
  margin-top: 20px;
  font-family: "League Spartan";
}

#programs > p {
  margin-top: 30px;
}

#programs > .group > .header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 8rem;
}

#programs > .group > .header > .circle {
  position: absolute;
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  background-color: #F7BD00;
  bottom: 0px;
  left: 0px;
  color: white;
  text-align: center;
  line-height: 5rem;
  font-size: 2.5rem;
  z-index: -1;
}

#programs > .group > .header > h3 {
  width: max-content;
  font-family: "League Spartan";
  text-align: left;
  margin-right: 20px;
}

#programs > .group > .header > p {
  width: max-content;
  font-size: 1.1rem;
  font-weight: bold;
}

#programs > .group > .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#programs > .group > .items > .item {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

#programs > .group > .items > .item.min {
  max-width: 280px;
}

#programs > .group > .items > .item.large {
  max-width: 440px;
}

#programs > .group > .items > .item img {
  width: 100%;
  border-radius: 4px;
}


img:hover{
  opacity: 0.6;
  transition-duration: 0.3s;
}

#programs > .group > .items > .item > h5 {
  margin-top: 20px;
}

#programs > .group > .items > .item > p {
  margin-top: 10px;
}


/* Partners */

#partners {
  margin-top: 100px;
}

#partners > .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}

#partners > .items > img {
  margin: 0 auto;
  margin-top: 40px;
  width: 190px;
}


/* Collaborate */

#collaborate {
  margin-top: 100px;
  background-image: url("${IMG_URL}//collaborate-bg.jpg");
  background-size: cover;
  background-position: center;
}

#collaborate > .filter {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 100px 0;
}

#collaborate > .filter > h5 {
  margin-top: 10px;
  font-family: "League Spartan";
}

#collaborate > .filter > .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

#collaborate > .filter > .items > .item {
  width: 100%;
  max-width: 260px;
  margin-top: 50px;
}

#collaborate > .filter > .items > .item > img {
  width: 250px;
  height: 250px;
  border-radius: 125px;
}

#collaborate > .filter > .items > .item > h3 {
  margin-top: 30px;
}

#collaborate > .filter > .items > .item > p {
  margin-top: 30px;
  font-size: 16px;
}

#collaborate > .filter > .items > .item > .button {
  margin-top 50px;
  background-color: #FFBF00;
}


/* Events */

#events {
  margin-top: 100px;
}

#events > h5 {
  font-family: "League Spartan";
  margin-top: 15px;
}

#events > .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

#events > .items > .item {
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
  margin-top: 30px;
}

#events > .items > .item > img {
  width: 100%;
  border-radius: 4px;
}

#events > .items > .item > .date {
  margin: 0;
  text-align: left;
}

#events > .items > .item > .title {
  margin-top: 10px;
  text-align: left;
}

#events > .button {
  margin-top: 50px;
}


/* Join */

#join {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #333333;
}

#join > h5 {
  font-family: "League Spartan";
  margin-top: 20px;
}

#join > .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  max-width: 950px;
  margin: 0 auto;
}

#join > .items > .item {
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
  margin-top: 50px;
}

#join > .items > .item > img {
  width: 100%;
  border-radius: 4px;
}

#join > .items > .item > h5 {
  margin-top: 10px;
}

#join > .items > .item > p {
  margin-top: 10px;
}

#join > .items > .item > a.button {
  margin-top: 30px;
}
