#top-msg {
  margin-top: 100px;
}

#top-msg > h2 {
  font-family: "League Spartan";
}

#top-msg > h5 {
  font-size: 16px;
}

#top-msg > hr {
  width: 60px;
  border: 1px solid #FC627A;
}

#top-msg > p {
  margin-top: 50px;
  line-height: 2;
}

#how-to-join {
  margin-top: 100px;
}

#how-to-join > .items {
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

#how-to-join > .items > .item {
  width: 100%;
  max-width: 450px;
  margin-top: 100px;
}

#how-to-join > .items > .item > .title {
  position: relative;
  height: 120px;
}

#how-to-join > .items > .item > .title > .circle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F7BD00;
  color: white;
  text-align: center;
}

#how-to-join > .items > .item > .title > h3 {
  position: absolute;
  text-align: left;
}

@media screen and (min-width: 480px) {
  #how-to-join > .items > .item > .title {
    height: 120px;
  }

  #how-to-join > .items > .item > .title > .circle {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    font-size: 40px;
    line-height: 80px;
  }

  #how-to-join > .items > .item > .title > h3 {
    font-size: 22px;
    bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  #how-to-join > .items > .item > .title {
    height: 80px;
  }

  #how-to-join > .items > .item > .title > .circle {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    font-size: 25px;
    line-height: 60px;
  }

  #how-to-join > .items > .item > .title > h3 {
    font-size: 18px;
    bottom: 6px;
  }
}

#how-to-join > .items > .item > img {
  display: block;
  width: 100%;
  max-width: 440px;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 20px;
}

#how-to-join > .items > .item > p {
  font-size: 16px;
  text-align: left;
}

#how-to-join > .items > .item > a {
  background-color: #FFBF00;
  color: white;
}
