#message-from-director {
  padding: 100px 0;
}

@media screen and (max-width: 480px) {
  #message-from-director h3 {
    font-size: 20px;
  }
}

#message-from-director hr {
  width: 60px;
  border: 1px solid #FC627A;
}

#director-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

#director-info img {
  display: block;
  width: 100%;
  max-width: 380px;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 50px;
}

#director-info .text {
  width: 100%;
  max-width: 470px;
  margin-top: 50px;
}

#director-info .text h5 {
  text-align: left;
  font-weight: normal;
  font-size: 15px;
}

#director-info .text h3 {
  text-align: left;
}

#director-info .text p {
  text-align: left;
}

@media screen and (max-width: 480px) {
  #director-info .text h3 {
    font-size: 30px;
  }
}


#message-from-director .message {
  font-size: 20px;
  text-align: left;
}

#message-from-director .message .first {
  font-size: 40px;
}

@media screen and (max-width: 480px) {
  #message-from-director .message {
    font-size: 15px;
  }

  #message-from-director .message .first {
    font-size: 30px;
  }
}


#join-us {
  padding-top: 50px;
  padding-bottom: 20px;
}

#join-us .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#join-us .item {
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
  margin-top: 80px;
}

#join-us .item img {
  width: 100%;
  max-width: 440px;
  border-radius: 4px;
}

#join-us .item h5 {
  margin-top: 20px;
}

#join-us .item a {
  background-color: #FFBF00;
}
