<footer>
  <div class="container">
    <div class="company">
      <img src="/assets/img/logo2.png">
      <p>
        NPO法人<br>
        WELgee(ウェルジー)<br>
        <br>
        〒101-0065 東京都渋谷区恵比寿4丁目20-3 恵比寿ガーデンプレイスタワー27階 <a href="/todo">[map]</a><br>
        <br>
        Tel 080-3574-1991<br>
        Mail info@welgee.jp
      </p>
      <div class="sns">
        <a><i class="fab fa-twitter" style="color: #5CBBFF"></i></a>
        <a><i class="fab fa-facebook-f" style="color: #2B72A5"></i></a>
      </div>
    </div>
    <div class="site-map">
      <div class="title">Site map</div>
      <div class="content">
        <div class="group">
          <a class="name">About</a>
          <a class="item">WELgeeとは</a>
          <a class="item">私たちのパッション</a>
          <a class="item">WELgee way</a>
          <a class="item">代表挨拶</a>
          <a class="item">WELgeeで働くメンバー</a>
          <a class="item">みなさまの応援の声</a>
        </div>
        <div class="group">
          <a class="name">Project</a>
          <a class="item">WELgeeの事業</a>
          <a class="item">就労事業</a>
          <a class="item">企業研修</a>
          <a class="item">大山ハウス</a>
          <a class="item">千葉ハウス</a>
          <a class="item">WELgeeサロン</a>
          <a class="item">出張授業</a>
          <a class="item">啓発キャンペーン</a>
        </div>
        <div class="group">
          <a class="name">Participate</a>
          <a class="item">WELgeeに参加する</a>
          <a class="item">寄付で支援する</a>
          <a class="item">プロボノとして関わる</a>
          <a class="item">インターンとして関わる</a>
          <a class="name">News</a>
          <a class="item">WELgeeのブログ</a>
          <a class="name">Event</a>
          <a class="item">イベント一覧</a>
        </div>
      </div>
    </div>
  </div>
  <div class="contact">
  </div>
</footer>
